<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warframe.tmall.repository.web.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.warframe.tmall.domain.web.Order" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="customer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="orderCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="customer_address_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="order_receiver" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userMessage" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="order_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_comment" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="pay_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="delivery_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="confirm_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, orderCode, customer_address_id, order_receiver, mobile, userMessage, 
    order_price, order_status, is_comment, create_time, pay_time, delivery_time, confirm_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tmall_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tmall_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.warframe.tmall.domain.web.Order" >
    insert into tmall_order (id, customer_id, orderCode, 
      customer_address_id, order_receiver, mobile, 
      userMessage, order_price, order_status, 
      is_comment, create_time, pay_time, 
      delivery_time, confirm_time)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=INTEGER}, #{ordercode,jdbcType=VARCHAR}, 
      #{customerAddressId,jdbcType=BIGINT}, #{orderReceiver,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{usermessage,jdbcType=VARCHAR}, #{orderPrice,jdbcType=REAL}, #{orderStatus,jdbcType=VARCHAR}, 
      #{isComment,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{deliveryTime,jdbcType=TIMESTAMP}, #{confirmTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.warframe.tmall.domain.web.Order" >
    insert into tmall_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="ordercode != null" >
        orderCode,
      </if>
      <if test="customerAddressId != null" >
        customer_address_id,
      </if>
      <if test="orderReceiver != null" >
        order_receiver,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="usermessage != null" >
        userMessage,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="isComment != null" >
        is_comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="deliveryTime != null" >
        delivery_time,
      </if>
      <if test="confirmTime != null" >
        confirm_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="ordercode != null" >
        #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="customerAddressId != null" >
        #{customerAddressId,jdbcType=BIGINT},
      </if>
      <if test="orderReceiver != null" >
        #{orderReceiver,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="usermessage != null" >
        #{usermessage,jdbcType=VARCHAR},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=REAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="isComment != null" >
        #{isComment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.warframe.tmall.domain.web.Order" >
    update tmall_order
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="ordercode != null" >
        orderCode = #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="customerAddressId != null" >
        customer_address_id = #{customerAddressId,jdbcType=BIGINT},
      </if>
      <if test="orderReceiver != null" >
        order_receiver = #{orderReceiver,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="usermessage != null" >
        userMessage = #{usermessage,jdbcType=VARCHAR},
      </if>
      <if test="orderPrice != null" >
        order_price = #{orderPrice,jdbcType=REAL},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="isComment != null" >
        is_comment = #{isComment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null" >
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.warframe.tmall.domain.web.Order" >
    update tmall_order
    set customer_id = #{customerId,jdbcType=INTEGER},
      orderCode = #{ordercode,jdbcType=VARCHAR},
      customer_address_id = #{customerAddressId,jdbcType=BIGINT},
      order_receiver = #{orderReceiver,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      userMessage = #{usermessage,jdbcType=VARCHAR},
      order_price = #{orderPrice,jdbcType=REAL},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      is_comment = #{isComment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>